node_modules/
.pnpm-store/
dist/
build/
.next/
out/
coverage/
.turbo/
*.tsbuildinfo
.env
.env.*.local
.env.local
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
prisma/migrations/dev.db*
uploads/
tmp/
