NODE_ENV=development
API_PORT=4000
LOG_LEVEL=debug

DATABASE_URL=postgresql://medhavi:medhavi@localhost:5432/medhavi_erp?schema=public

REDIS_URL=redis://localhost:6379
MONGODB_URI=mongodb://medhavi:medhavi@localhost:27017/medhavi_logs?authSource=admin

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=medhavi-dev
